.btn{
  width: 40px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid;
  cursor: pointer;
  margin-top: 1rem;
}

.todo-completed-checkbox:checked + span.todo-title{
  text-decoration: line-through;
}

form{
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 1rem;
}

.input{
  border-radius: 10px;
  border: 1px solid;
  width: 300px;
  height: 60px;
  text-align: center;
  
}

.buttonn{
  width: 150px;
  height: 60px;
  border-radius: 10px;
  /* margin-left: 600px; */
  border: 1px solid;
  
}

li{
  border-bottom: 1px double black;

}



ul{
  margin-top: -1rem;
}

#resett{
  border-radius: 10px;
  border: 1px solid;
}

