*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo-text img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  
  
}

.material-icons-outlined {
  vertical-align: middle;
  line-height: 1px;
  font-size: 35px;
}

.logo-text {
  border-bottom: 1px double gray;
  
}

.asosiy{
  border: 1px solid black;
  height: 100%;
  
}

.search{
  position: absolute;
  border-radius: 10px;
  border: 1px solid;
  width: 190px;
  height: 30px;
  background-color: darkgrey;
  padding-left: .5rem;
}

button{
 all: unset;
position: relative;
left: 10rem;
color: white;
padding-top: .2rem;
}

.img2{
    width: 50px;
  height: 50px;
  border-radius: 50%;
}

.asosiy2{
  height: 100vh;
}

.links:hover{
  background-color: #497ce3;
  cursor: pointer;
}

.links:active{
  color: white;
}

.list-h1{
  margin-left: -9rem ;
}

.check{
  width: 20px;
}

.list1{
 margin-left: -2.4rem; 
}

.buttons button{
  margin-left: -5.9rem;

 
}

 table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }
/* 
.btn{
  width: 40px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid;
  cursor: pointer;
  margin-top: 1rem;
}

.todo-completed-checkbox:checked + span.todo-title{
  text-decoration: line-through;
}

form{
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 1rem;
}

.input{
  border-radius: 10px;
  border: 1px solid;
  width: 300px;
  height: 60px;
  text-align: center;
  
}

.buttonn{
  width: 150px;
  height: 60px;
  border-radius: 10px;
  /* margin-left: 600px; */
  /* border: 1px solid;
  
} */

/* li{
  border-bottom: 1px double black;

}



ul{
  margin-top: -1rem;
}

#resett{
  border-radius: 10px;
  border: 1px solid;
} */
